@import './variables';

/* normalize styling across browsers */
html {
  width: 100%;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%; /* such that 1rem === 10px */
  transition: opacity 0.3s ease-out;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-weight: normal;
  font-family: inherit;
  color: inherit;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  color: $black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: $white;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: relative;
  overflow-x: hidden;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  cursor: pointer;
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
     -moz-user-select: none;
      -ms-user-select: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

[role="button"] {
    color: inherit;
    cursor: default;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    white-space: pre;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
}

svg,
img {
  max-width: 100%;
  height: auto;
  border: 0;
}

video {
  width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
}

p a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
span a {
  letter-spacing: normal;
}

fieldset {
  border: none;
  padding: 0;
}
