$white: #F1F1F1;
$black: #363736;
$grey: #ccc;

$transition: 0.3s ease-out;

$breakpoint-small: 666px;
$breakpoint-large: 1195px;

$border-radius: 0.3rem;
$box-shadow: 0 0.2rem 1rem 0 rgba(0, 0, 0, 0.2);

$spacing-xsmall: 0.5rem;
$spacing-small: 1rem;
$spacing-medium: 1.5rem;
$spacing-large: 2.5rem;
$spacing-xlarge: 5rem;
$spacing-xxlarge: 10rem;

$grid-column: 6rem;
$grid-gutter: 2.5rem;
